PORT=3000
HOST=0.0.0.0

# Optional: CORS allow origin
# CORS_ALLOW_ORIGIN=*

# Optional: route song url through your own proxy
# ENABLE_PROXY=false
# PROXY_URL=

# Optional: unblock fallback
# ENABLE_GENERAL_UNBLOCK=false
# UNBLOCK_SOURCE=pyncmd,bodian,kuwo,qq,migu,kugou
